.navigation {
  background-color: #28b485;
  background-image: linear-gradient(
    to right bottom,
    rgb(40, 180, 133, 0.8),
    rgb(36, 162, 120, 0.8)
  );
  padding: 0.5rem 1.5rem 0.4rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.router__link:link,
.router__link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  color: #f1f1f1;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.1rem;
  transition: all 0.3s;
}
.router__link:hover,
.router__link:active {
  color: #5c5c5c;
  color: #fff;
  border-bottom: 1px solid #f1f1f1;
  transform: translateY(-0.1rem) scale(1.01);
}
