.all__employees__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.employee__item {
  background-color: rgba(241, 241, 241, 0.8);
  padding: 1rem 4rem 2rem;
  justify-self: center;
  border-radius: 0.25rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

.employee__info {
  font-weight: 500;
}

.employee__data {
  font-weight: normal;
  color: #145a43;
}
