@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* MAIN COLORS */
/*
#28b485
#24a278
#145a43
#333
box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.15);
border-radius: 73% 27% 86% 14% / 28% 70% 30% 72%;
*/

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

.background {
  width: 85%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.02);
  padding: 1rem 2rem;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(36, 162, 120, 0.4)
    ),
    url("../src/images/background-image.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding: 0 2rem;
}

.wrapper--white {
  background-color: rgba(241, 241, 241, 0.8);
  border-radius: 0.2rem;
}

.foreground__container {
  margin-top: 3rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #333;
  padding: 0.5rem;
}

.section__heading {
  font-size: 1.6rem;
}

.section__icon {
  font-size: 2rem;
}

.secondary__title {
  text-align: center;
  font-size: 1.3rem;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #24a278;
  color: #f1f1f1;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  font-family: inherit;
}

.btn:hover {
  background-color: #186c50;
  color: #f1f1f1;
}

.filter__and__delete__container {
  text-align: center;
  margin-block: 1rem;
}

.search__bar {
  width: 25%;
}

.wrapper__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;
}

.delete__btn {
  background-color: #c92a2a;
}

.delete__btn:hover {
  background-color: #8d1d1d;
}

.oblique {
  font-style: oblique;
  font-weight: normal;
}

.hover--effect {
  transition: transform 0.3s;
}
.hover--effect:hover {
  transform: translateY(-0.5rem) scale(1.03);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
}

.message__container {
  text-align: center;
  font-size: 1rem;
  grid-column: 1/-1;
  font-weight: normal;
  color: #333;
}

.btn__change__container {
  display: flex;
  justify-content: center;
}

.change-style {
  border-radius: 73% 27% 86% 14% / 28% 70% 30% 72% !important;
}
.change-style__task {
  border-radius: 92% 8% 98% 2% / 7% 87% 13% 93% !important;
}

.btn--change-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 40% 60% 34% 66% / 60% 53% 47% 40%;
}
