.all__managers__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
}

.manager__item {
  background-color: rgba(241, 241, 241, 0.8);
  padding: 1.8rem 2.5rem;
  justify-self: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}
